#**
*Impl.java template for uml project
@projectPath /src/${qualifiedName.replace("::","/")}.java 
@artifactContext Enumeration 
*#
#parse( "uml.fragment" )
${copyrightBoilerPlate}
${packageDeclaration}
#imports()

#classJavaDoc(${object}) 

#visibility(${object}) #abstract(${object}) enum #name(${name}){
 	#foreach ( $enumerationLiteral in ${object.ownedLiterals} )
		#name(${enumerationLiteral.name}),
	#end
} //${name}
